<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tatanstudios.eltuncazometapan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logotv2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logotv2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eltuncazo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activitys.historial.ProductosOrdenesActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.historial.OrdenesEstadoActivasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.carrito.CambiarCantidadCarritoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.procesar.ProcesarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.carrito.CarritoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Eltuncazo" />
        <activity
            android:name=".activitys.menu.ServiciosDomicilioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.mapa.DireccionNuevoMapaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.mapa.MapaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.perfil.ListaDireccionesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.perfil.EditarPerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.historial.HorarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.perfil.PerfilActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.principal.PrincipalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.logincliente.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />

        <activity
            android:name=".activitys.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>